@media screen and (min-width:940px) {
 

    h2 {
        font-size: 8em;
    }
    .unterüberschrift1 {
        font-size: 4em;
    }

}

@media screen and (max-width:700px) {

    /*wenn zu klein, dann*/
    header {
        li {
            visibility: hidden;
        }
    }

    a {
        width: 100%;
    }

}

@media  screen and (max-width: 1400px) {
        .concepttextall {
                width: 100%;
            }
}

@media screen and (min-width:640px) {
    p {
        font-size: 1.5em;
    }

    h3 {
        font-size: 4em;
    }

}