@media screen and (min-width:940px) {


    .unterüberschrift1 {
        font-size: 4em;
    }

    h2{
        font-size: 14vw;
    }

}

@media screen and (max-width:700px) {

    /*wenn zu klein, dann*/
    header {
        li {
            visibility: hidden;
        }
    }

    :root {
        scroll-behavior: none;
        scroll-snap-type: none;
    }

    a {
        width: 100%;
    }

    .flex {
        display: block;
    }

    .fifty {
        width: 100%;
    }

    #watchoutpic {
        width: 60vw;
        height: 30vw;
        margin-left: 0;
    }

    section {
        padding-top: 16vh;
        height: 60vh;
        margin-bottom: 20vh;
    }

    .roundbeginnpic {
        visibility: hidden;
    }

    .umrandung {
        width: 100%;
        padding: 4%;
        .conceptpic{
            height:65vw;
        }
    }

    .iconsketches {
        margin-bottom: 0vh;
    }

    .app{
        margin-bottom: 10vh;
    }

}

@media screen and (max-width: 1400px) {
    .concepttextall {
        width: 100%;
    }
}

@media screen and (min-width:640px) {
    p {
        font-size: 1.6em;
    }

    h3 {
        font-size: 4em;
    }



}