* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color: linear-gradient(90deg, #d5ffb6 0%, #ffc868 100%);
    --lightgreen: #d5ffb6;
    --fastweiß: rgb(229, 237, 230);
}

:root {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.grow {
    flex-grow: 1;
}

.alles {
    padding-left: 10%;
}


.header {
    color: var(--color);
    display: flex;
}

#top {
    width: 100%;
}

.circle {
    height: 65px;
    width: 65px;
    border-radius: 100%;
    background-color: rgb(233, 233, 233);
    position: fixed;
    margin-left: 10%;
}


a{
    text-decoration-color: white;
}

header {
    position: fixed;
    background: var(--color);
    margin: 0;
    width: 90%;
    margin-left: 10%;
    height: 65px;
    border-bottom-left-radius: 50px;
    padding-left: 20px;
    padding-top: 13px;
    display: block;
    z-index: 2;

    ul {
        list-style-type: none;
        margin: 0;
        align-items: center;

    }

    li {
        margin-left: 1.5vw;
        font-size: 1.5em;
        font-weight: 600;
        float: left;
        /* display: inline-block; */
    }

    a {
        text-decoration: none;
        color: black;
        padding-right: 1vw;
    }

    a:hover {
        font-style: italic;
        transition: 0.3s;
        text-decoration: none;
        color: black;
    }

}

h1,
h2 {
    font-family: "snug-sharp-variable", sans-serif;
    font-variation-settings: "wght" 370, "wdth" 400, "XHGT" 10;
}

h1 {
    /*font-family: "delaney", sans-serif;;*/
    /*font-family: "ltr-federal-bureau-12-horiz", sans-serif;
    font-weight: 800;
    font-style: normal;*/
    position: relative;
    z-index: 1;
    background: var(--color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*font-family: "sofachrome", sans-serif;*/
    /*font-family: "itc-avant-garde-gothic-pro", sans-serif;*/
    /*font-size: 17em;*/
    /*font-family: "snug-sharp-variable", sans-serif;*/
    font-size: 17vw;
    margin-top: 8vh;
    margin-left: -0.6%;
    width: 100%;
}

#logo {
    position: absolute;
    z-index: 0;
    width: 95vh;
    height: 92vh;
    aspect-ratio: 52/50;
    margin-top: -64.6vh;
    margin-left: 28vw;
    opacity: 100%;
}


h2 {
    font-size: 18vw;
    color: var(--fastweiß);
    margin-top: 15vh;
}



h3 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-size: 10vw;
    width: 100%;
    background: var(--color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3vh;
    padding-bottom: 5px;
}

#unterüberschrift1 {
    margin-top: -3vh;
    background: var(--fastweiß);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -0.3%;
    font-size: 3vw;
    font-weight: 400;
    position: relative;
    z-index: 1;
}



h4 {
    /*background: var(--color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    font-weight: 400;
    color: white;
    font-size: 3vh;
}

p {
    font-size: 4vw;
    margin-bottom: 2vh;

}

.gruppenarbeit {
    margin-top: -3vh;
    font-size: 2.5em;
}

section {
    scroll-snap-align: center;
    padding-top: 18vh;
    height: 100vh;
    width: 80%;
}

/*nav {
    display: flex;
    align-items: end;
}*/

body {
    background-color: black;
}

/*img {
    height: 40vh;
    object-fit: cover;


}*/


h3,
h4,
p,
a {
    font-family: itc-avant-garde-gothic-pro, 'Calibri', 'Trebuchet MS', sans-serif;
}

p,
li {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vh;
}

h2,
p {
    color: rgb(234, 243, 234);
}

/*.projectLinks div {
    border: 2px solid white;
    height: fit-content;
    border-radius: 10px;
    padding-left: 5px;
}*/

#projects {

    .projectLinks {
        border-radius: 10px;
        margin-left: -0.6%;
    }

    img {
        width: 100%;
        aspect-ratio: 4/3.5;
        object-fit: cover;
    }

    #carouselExampleControls {
        height: 60vh;
    }

    .carousel-inner {
        background: linear-gradient(90deg, green 0% #000000 100%);
    }

    .littlecar {
        border-radius: 10px;
        display: inline-block;
        height: 45vh;
        aspect-ratio: 4/3.7;
        margin: 0.5vw;
        border: 3px solid transparent;
    }

    #firstcar {
        margin-right: 1.5vw;
    }

    .littlecar:hover {
        img {
            transition: 0.3s;
        }

        padding: 10px;
        border: 3px solid rgb(216, 243, 167);
        transition: 0.3s;
    }

    .greyblock {
        background-color: grey;
        width: 10%;
        overflow-x: hidden;
        height: 50vh;
    }


    .Üprojects {
        color: rgb(255, 255, 255);
        width: 100%;
        background-color: rgb(0, 36, 36);
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin-left: -12%;
        height: 90%;
    }


}

.flexprojects {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 2vh;
}

.experience {
    border-radius: 10px;
    height: fit-content;
    margin: 5px;
    margin-left: 0px;


    .iconpics {
        object-fit: contain;
        height: 3vw;
        width: auto;
        max-width: 100%;
        margin: 0vw;
        margin-left: -0.5vw;
    }

    p {
        margin-top: 3vh;
        margin-bottom: 0px;
    }
}


img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    height: 100%;
    opacity: 100%;
    border-radius: 7px;
}


.fotoContainer {
    width: 80%;
    height: 70vh;
    margin-bottom: 10vh;

    img {
        border-radius: 0px;
    }
}

.fotos {
    width: 47%;
    margin: 0.3vh;
    height: 50%;

}

fotos:hover {
    height: 410px;
    transition: 0.5s;

}

.list {
    list-style-type: disc;
    color: white;
    margin-left: 1.5vw;

    li {
        margin-bottom: 1vh;
    }
}


.wholeText {
    margin-bottom: 6vh;
}

.rahmen {
    height: fit-content;
}

.contactinhalt {
    font-style: italic;
    color: rgb(135, 135, 135);
    padding-left: 0px;

}

.contactinfos {
    padding-left: 5px;
}



.iconsketches {
    display: flex;
    width: 100%;
    aspect-ratio: 125/46;
    object-fit: contain;


    #iconsketch1 {
        width: 33%;
        margin-right: 1%;
    }

    #iconsketch2 {
        width: 67%;

    }
}

.wosketches {
    display: flex;
    width: 100%;
    aspect-ratio: 125/40;
    object-fit: contain;

    #wosketch1 {
        width: 40%;
        margin-right: 1%;
    }

    #wosketch2 {
        width: 60%;
    }
}

.roundbeginnpic {
    height: 33vw;
    width: 35vw;
    aspect-ratio: 1/1;
    margin-left: 10vw;
    margin-top: -2vh;
}

#watchoutpic {
    height: 33vw;
    width: 33vw;
}

#appscreens {
    width: 35vw;
    height: 30.1vw;
    margin-top: 1vh;
}

#picofme {
    height: 29vw;
    width: 31vw;
    margin-top: 2vh;
    margin-left: 8vw;
}


.conceptpicture {
    height: 40vh;
    object-fit: fill;
}



.app {
    background-color: rgb(0, 0, 0);
    height: 65vh;
    aspect-ratio: 31/68;
    margin-right: 2.7vh;
    border-radius: 1vh;

    p {
        font-weight: 550;
        font-size: 1.8em;
    }

    img {
        border-radius: 1.5vh;
    }
}

#lastone {
    margin-right: 0;
}

.watchhh {
    height: 20vw;
    border: 3px solid var(--lightgreen);
    border-radius: 10px;
    margin-top: 2vh;
    padding: 1vh;
    margin-left: 0.1vw;
}

.flex {
    display: flex;
}

.concepttextall {
    width: 55%;
}

#firsticontext {
    margin-bottom: 7vh;
}

.text {
    padding-bottom: 2%;
}



.bigintro {
    height: 75vh;
    margin-top: -1vh;

    .intropic {
        object-fit: contain;
        height: 80vh;
    }
}



.umrandung {
    border: 3px solid white;
    padding: 2.5%;
    padding-top: 1.5%;
    height: fit-content;
    width: 50%;
    border-radius: 20px;

    .conceptpic {
        height: 29vw;
        aspect-ratio: 1/1;
        background-color: rgb(0, 0, 0);
    }

    h3 {
        font-size: 6vh;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h4 {
        font-size: 3.3vh;
        margin-bottom: 4%;
    }
}




button {
    border-radius: 20px;
    border: 3px solid var(--lightgreen);
    width: 10vw;
    height: 6vh;
    margin-top: 4vh;

    margin-right: 30px;
    background-color: black;
    color: white;
    font-size: 1.4em;
}

.weitericons {
    margin: auto 2vw;
    font-size: 5em;
}

.druckerpics {
    width: 50vw;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 6/3;

}

#testing {
    aspect-ratio: 10/3;
    margin-top: -12vh;
}

#styleguide {
    aspect-ratio: 85/40;
    border: 3px solid var(--lightgreen);
    border-radius: 10px;
    padding: 1vw;
}




.fifty {
    width: 50%;
}

.flexx {
    display: flex;
    height: 35vh;
    margin-top: 2vh;

    div {
        height: 100%;
        background-color: rgb(0, 0, 0);
        margin-right: 1vw;
        z-index: 2;
    }

    /*div:hover {
        border: 2px solid white;
        width: 100%;
    }*/

}




/*#rightContact {
    float: right;
    padding-right: 40px;
    align-items: center;
    padding-bottom: 10px;
}*/

/*#contactButton {
    border: 3px solid black;
    float: right;
    align-content: center;
    margin-right: 50px;
    border-radius: 15px;
    align-self: center;
}*/