* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color: linear-gradient(90deg, #d5ffb6 0%, #ffc868 100%);
}

:root {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.grow {
    flex-grow: 1;
}

.alles {
    padding-left: 10%;
}

.unterüberschrift1 {
    margin-bottom: 50vh;
    font-size: 7.5vw;
}

.header {
    color: var(--color);
    display: flex;
}

.circle {
    height: 65px;
    width: 65px;
    border-radius: 100%;
    background-color: rgb(233, 233, 233);
    position: fixed;
    margin-left: 10%;
}

header {
    position: fixed;
    background: var(--color);
    margin: 0;
    width: 90%;
    margin-left: 10%;
    height: 65px;
    border-bottom-left-radius: 50px;
    padding-left: 20px;
    padding-top: 13px;
    display: block;
    z-index: 2;

    ul {
        list-style-type: none;
        margin: 0;
        align-items: center;

    }

    li {
        margin-left: 1vw;
        font-size: 1.5em;
        font-weight: 600;
        float: left;
        /* display: inline-block; */
    }

    a {
        text-decoration: none;
        color: black;
        padding: 1vw;
    }

    a:hover {
        font-size: 1em;
        font-weight: 602;
        font-style: italic;
        transition: 0.3s;
        text-decoration: none;
        color: black;
    }

}

h1 {
    font-size: 17vw;
    font-weight: 630;
    margin-left: -0.5vw;
}

h2 {
    font-size: 8em;
    color: white;
    margin-left: 0;
}

h1,
h2 {
    width: fit-content;
    margin-top: 200px;
}

h3 {
    font-size: 9vw;
    width: 100%;
    font-weight: 600;
    background: var(--color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2%;
    padding-bottom: 5px;
}

h4 {
    color: white;
    font-size: 2.3em;
}

p {
    font-size: 4vw;
}

section {
    scroll-snap-align: center;
    padding-top: 15vh;
    height: 100vh;
    width: 80%;
}

/*nav {
    display: flex;
    align-items: end;
}*/

body {
    background-color: black;
}

img {
    width: 100%;
    height: 50vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
p {
    color: white;
}

/*.projectLinks div {
    border: 2px solid white;
    height: fit-content;
    border-radius: 10px;
    padding-left: 5px;
}*/

#projects {

    .projectLinks {
        display: inline;
        padding: 0px;
        border-radius: 10px;
        align-content: center;
    }

    .projectLinks>a {
        color: rgb(0, 0, 0);
        width: fit-content;
        font-size: 2em;

    }

    img {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
        opacity: 100%;
    }

    #carouselExampleControls {
        height: 60vh;
    }
    .carousel-item {
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
    }

    .littlecar {
        padding: 0px;
        border-radius: 10px;
        display: inline-block;
        height: 100%;
        width: 45%;
        margin: auto;
        margin-right: 2vw;
        border: 3px solid transparent;
    }

    .littlecar:hover {
        img {
            transition: 0.3s;
        }

        padding: 10px;
        border: 3px solid rgb(216, 243, 167);
        transition: 0.3s;
    }

    .Üprojects {
        color: rgb(255, 255, 255);
        width: 100%;
        background-color: rgb(0, 36, 36);
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin-left: -11%;
        height: 80%;
    }

}

.experience {
    border-radius: 10px;
    height: fit-content;
    margin: 5px;
    margin-left: 0px;


    .iconpics {
        object-fit: contain;
        height: 4vw;
        width: auto;
        max-width: 100%;
        margin: 0.5vw;
        margin-left: -0.6vw;
    }
}


img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    height: 100%;
    opacity: 100%;
    border-radius: 7px;
}



.fotos {
    max-width: 49%;
    max-height: 400px;
    margin: 10px;
}

fotos:hover {
    height: 410px;
    transition: 0.5s;

}

.fotoContainer {
    height: fit-content;
    padding-bottom: 30vh;
    margin-left: -10px;
}

.wholeText {
    margin-bottom: 10vh;
}

.rahmen {
    height: fit-content;
}

.contactinhalt {
    font-style: italic;
    color: rgb(135, 135, 135);
    padding-left: 0px;
}

.contactinfos {
    padding-left: -5px;
}

.allsketches {
    display: flex;
}

.sketch {
    background-color: rgb(26, 26, 26);
    height: 40vh;
    width: 40%;
    margin-right: 2.7vh;
}

.conceptpicture {
    height: 40vh;
    object-fit: fill;
}

#breiterSketch {
    width: 60%;
    margin-right: 0px;
}

.appScreens {
    display: flex;
}

.app {
    background-color: rgb(97, 97, 97);
    height: 60vh;
    width: 30%;
    margin-right: 2.7vh;
    border-radius: 1vh;
}

#lastone {
    margin-right: 0;
}

.watchhh {
    height: 20vw;
    margin-left: -4vw;
}

.flex {
    display: flex;
}

.concepttextall {
    width: 40%;
    padding-top: 1%;
}

.text {
    padding-bottom: 2%;
}


.conceptpic {
    height: 30vh;
    background-color: rgb(0, 0, 0);
    margin-left: 15vh;
    margin-top: 3vh;
}


.bigintro {

    height: 75vh;

    .intropic {
        object-fit: contain;
    }
}

.umrandung {}




/*#rightContact {
    float: right;
    padding-right: 40px;
    align-items: center;
    padding-bottom: 10px;
}*/

/*#contactButton {
    border: 3px solid black;
    float: right;
    align-content: center;
    margin-right: 50px;
    border-radius: 15px;
    align-self: center;
}*/