* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color: linear-gradient(90deg, #b7de99 0%, #d1a355 100%);
}

:root {
    scroll-behavior: smooth;
}

.grow {
    flex-grow: 1;
}

.alles {
    padding-left: 10%;
}

.unterüberschrift1 {
    margin-bottom: 220px;
    margin-top: 0;
}

header {
    position: fixed;
    background: linear-gradient(90deg, #b7de99 0%, #d1a355 100%);
    margin: 0;
    width: 90%;
    margin-left: 10%;
    height: 70px;
    border-bottom-left-radius: 50px;
    padding-left: 30px;
    padding-top: 15px;
    display: block;
    margin-bottom: 460px;
    z-index: 2;

}

h1 {
    font-size: 12em;

}

h2 {
    font-size: 8em;
    color: white;
}

h1,
h2 {
    width: fit-content;
    margin-top: 200px;
}

h3 {
    font-size: 3.5em;
    width: 100%;
    background: var(--color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

h4 {
    color: white;
    font-size: 2.3em;

}

section {
    padding-top: 190px;
    height: 100vh;
}

/*nav {
    display: flex;
    align-items: end;
}*/

ul {
    list-style-type: none;
    margin: 0;
    align-items: center;

}

li {
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: 600;
    float: left;
    /* display: inline-block; */
}

li:hover {
    font-size: 1.52em;
    font-weight: 630;
    transition: 0.25s;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;


}

body {
    background-color: black;
}

img {
    height: 50vh;
    max-width: 100%;
    max-height: 100%;
}

h1,
h2,
h3,
p,
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
p {
    color: white;
}

h3,
p {
    padding-left: 5px;
}

p {
    padding-bottom: 10px;
    width: 80%;
    font-size: 1.5em;
}

.projectLinks {
    display: inline;
}

.projectLinks>a {
    color: rgb(0, 0, 0);
    width: fit-content;
    font-size: 2em;

}


/*.projectLinks div {
    border: 2px solid white;
    height: fit-content;
    width: 80%;
    border-radius: 10px;
    padding-left: 5px;
}*/

#projects {
    padding-left: 15px;

    img {
        height: 800px;
        width: 50%;
        aspect-ratio: 4/3;
        object-fit: cover;
        opacity: 60%;
    }

    #carouselExampleControls {
        border: 4px solid rgb(255, 255, 255);
        border-radius: 15px;
        width: 70%;
        height: 60vh;
        overflow-y: hidden;
    }

    .carouselinner {
        border: 4px solid blue;
    }

    .carousel-item {
        width: 50%;
    }

    :hover {
        img {
            opacity: 100%;
            transition: 0.3s;
        }

    }

    .Üprojects {
        color: rgb(255, 255, 255);
        width: 100%;
        background-color: rgb(0, 36, 36);
    }

}

.experience {
    border: 3px solid white;
    border-radius: 10px;
    width: 80%;
    height: 20vh;
    margin-left: 5px;
    padding: 20px 0px 20px 30px;
    align-content: center;
    padding: auto;
}

img {
    height: 110px;
}

.fotos {
    height: 400px;
    padding: 20px;
}

.fotos:hover {
    height: 410px;
    transition: 0.5s;

}

.fotoContainer {
    height: fit-content;
}

.wholeText {
    margin-bottom: 130px;
}


.rahmen {
    height: fit-content;
}

#rightContact {
    float: right;
    padding-right: 40px;
    align-items: center;
    padding-bottom: 10px;
}

/*#contactButton {
    border: 3px solid black;
    float: right;
    align-content: center;
    margin-right: 50px;
    border-radius: 15px;
    align-self: center;
}*/